
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Roboto+Mono:wght@100&display=swap');

.container-flex-p {
    width: 90%;
    z-index: 2;
    margin-left: 5%;
    margin-top: 3em;
    background-color: #181b1e;
    height: 40em;
    display: flex;
    flex: 1 1 1;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 500ms;
    text-align: center;
    border-radius: 10px  10px  10px  10px;
}

#title-footer {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
    font-family: 'Combo';
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 100%;
    height: 1em;
}

.box-footer {
    display: block;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all 500ms;
}

.box-footer > div {
    display: inline-block;
    width: 80%;
    height: 15%;
    border: 2px solid var(--lightneon);
    z-index: 10;
    background-color: var(--background);
    padding: 0px;
    margin: 0px;
    border-radius: 2em 2em 2em 2em;
    box-shadow: inset 0 0 0.6em var(--lightneon), 0 0 1em var(--lightneon);
    align-items: center;
}

.number {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 1;
    color: #181b1e;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

.progress {
    display: block;
    width: 0%;
    height: 100%;
    transition: all 1s;
    background-color: var(--lightneon);
    border-radius: 2em 2em 2em 2em;
    /* box-shadow: inset 0 0 0.6em var(--lightneon), 0 0 1em var(--lightneon); */
    padding: 0px;
    margin: 0px;
    
}

.box-footer > span {
    display: inline-block;
    width: 100%;
    height: 2em;
    z-index: 10;
    margin-bottom: 1em;

}

.box-footer > span > i {
    display: inline-block;
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
    color: var(--lightneon);
}

#light-header-top {
    width: 0%;

    height: 0px;
    opacity: 0;
    transition: margin-left 800ms, width 800ms;
}

#light-header-left{
    width: 0%;
    /* left : 5%; */
    height: 0%;
    opacity: 0;
}
#light-header-right {
    width: 0%;
    /* left :94.6%; */
    height: 0%;
    opacity: 0;
}
#light-header-bottom {
    /* margin-top: 39.7em; */
    width: 0%;
    height: 0px;
    opacity: 0;
}

.light-footer {
    padding: 0px;
    margin: 0px;
    position: absolute;
    border: 3px solid var(--lightneon);
    border-radius: 2em 2em 2em 2em;;
    box-shadow: inset 0 0 0.6em var(--lightneon), 0 0 1em var(--lightneon);
    transition: width 800ms, height 800ms, opacity 800ms;
}


.selector-footer {
    opacity: 0;
    z-index: 2;
    display: block;
    position: absolute;
    transform: translateX(-0.868em);
    transition: all 500ms;
    margin-top: 2.2em;
    left: 50%;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: var(--lightneon);
    box-shadow: inset 0 0 0.6em var(--lightneon), 0 0 1em var(--lightneon); 
}


.selector-footer > i {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 25%;  
    color: #181b1e;
}


#ref {
    margin-top: 10em;
}

.container-link {
    margin-top: 11em;
    display: block;
    width: 100%;
    height: 14em;
    text-align: center;
    opacity: 0;
    transition: all 1s;
}

.container-link > div {
    display: flex;
    flex: 1 1 1;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.container-link h1 {
    display: inline-block;
    position: relative;
    margin-top: 1em;
    padding: 0px;
    font-size: 1.2em;
    font-family: 'Combo';
    opacity: 1;
}

.link {
    margin-top: 2em;
    display: inline-block;
    text-align: center;
    width: 50%;
    height: 15%;
    opacity: 0;
    transition: all 500ms;
}

a:hover .iconesfooter{
    transition: all 1s;
    cursor: pointer;
    transform: rotateY(360deg);
    transition: transform 2s;
    background-color: white;
    box-shadow: inset 0 0 0.6em white, 0 0 1em white; 
}


a:hover  h1 {
    transition: all 500ms;
    text-shadow: white 1px 0 10px;
    color: #181b1e;
}

.link > a:hover {
    transition: all 1s;
    cursor: pointer;
    background-color: unset;
    border-color:white;
    box-shadow: inset 0 0 0.6em white, 0 0 1em white;
}

.iconesfooter {
    display: block;
    position: absolute;
    margin-left: 2.5em;
    margin-top: -1em;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: var(--lightneon);
    box-shadow: inset 0 0 0.6em var(--lightneon), 0 0 1em var(--lightneon); 
}

.iconesfooter > i {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 25%;  
    color: #181b1e;
}

.link > div {
    display: inline-block;
    text-align: center;
    width: 7em;
    height: 4em;
    text-align: center;
    background-color: #181b1e;
    border: 3px solid var(--lightneon);
    border-radius: 2em;
    box-shadow: inset 0 0 0.6em var(--lightneon), 0 0 1em var(--lightneon);
}

.link > a {
    display: inline-block;
    width: 7em;
    height: 4em;
    text-align: center;
    background-color: #181b1e;
    border: 3px solid var(--lightneon);
    border-radius: 2em;
    box-shadow: inset 0 0 0.6em var(--lightneon), 0 0 1em var(--lightneon);
}

.light-link {
    padding: 0px;
    margin: 0px;
    position: absolute;
    border: 2px solid var(--lightneon);
    border-radius: 2em 2em 2em 2em;;
    box-shadow: inset 0 0 0.6em var(--lightneon), 0 0 1em var(--lightneon);
    transition: width 800ms, height 800ms, opacity 800ms;
}

#light-link-top {
    left: 50%;
    width: 0%; 
    margin-top: 10.8em;  
    opacity: 0;
}

#light-link-left {
    /* left: 25%; */
    width: 0%;
    margin-top: 10.8em;  
    height: 2em;
    opacity: 0;
}

#light-link-right{
    /* left: 75%; */
    width: 0%;
    height: 2em;
    margin-top: 10.8em;
    opacity: 0;  
}

footer {
    display: block;
    height: 17em;
    width: 100%;
}

footer > div {
    display: inline-block;
    margin-top: 15em;
    height: 2.5em;
    width: 100%;
    background-color: #181b1e;
    text-align: center;
}

footer > div > p {
    margin-top: 0.8em;
    padding: 0;
    text-shadow: white 1px 0 10px;
}