:root {
    --lightneon:rgb(0, 247, 255);
    --background: #181b1e;
}

@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Oswald:wght@200&display=swap');



* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    background:radial-gradient(circle at center, var(--background), rgb(41, 104, 112));
    height: 200em;
}

.icone-container-menu {
    position: fixed;
    width: 2em;
    height: 2em;
    background-color: chartreuse;
    left: 15%;
    top: 22em;

}

.header-container {
    padding: 0px;
    margin: 0px;
    display: block;
    width: 100%;
    height: 35em;
}

.border-img-container {
    display: inline-block;
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 15em;
    height: 15em;
    border-radius: 100%;
    border: 0.2em solid var(--lightneon);
    left: 50%;
    transform: translateX(-50%) ;
    top: 15em;
    box-shadow: inset 0 0 0.5em var(--lightneon), 0 0 1.5em var(--lightneon);
    transition: all 500ms;
}

.border-img-container:hover {
    box-shadow: inset 0em 0 1em var(--lightneon), 0 0 3em var(--lightneon);
    width: 15.5em;
    height: 15.5em;
    cursor: pointer;
}

.profile-img-container {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.profile-img-container > img {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.line-color {
    display: block;
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 0em;
    height: 0px;
    left: 50%;
    top: 30.22em;
    border: 0px solid var(--lightneon);
    border-radius: 0 0 1em 1em;;
    box-shadow: inset 0 0 0.6em var(--lightneon), 0 0 1em var(--lightneon);
    transition: all 50ms, opacity 100ms;
    z-index: -1;
}

.container-flex {
    display: flex;
    flex: 1 1 1;
    flex-direction: row;
    flex-wrap: wrap;
}
.display-box {
    text-align: center;
    width: 50%;
    transition: all 1s;
    transition-delay: 600ms;
    opacity: 0;
}

.display-none {
    width: 50%;
}
.display-box-ico {
    display: block;
    width: 100%;
    height: 100%;
}


.display-box-ico > i {
    margin-top: 25%;
}

.fa-solid {
    color: var(--lightneon);
}


.display-box-top {
    display: block;
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%) ;

    width: 100%;
}

.display-box-inner {
    padding: 2em;
}

.display-box-inner > div {
    border: 2px solid var(--lightneon);
    z-index: 10;
    background-color: var(--background);
    border-radius: 2em 2em 2em 2em;
    box-shadow: inset 0 0 0.6em var(--lightneon), 0 0 1em var(--lightneon);
    padding: 2em;
}

.light-box {
    width: 0%;
    height: 0px;
    position: relative;
    transform: translateY(-1em);
    border: 2px solid var(--lightneon);
    border-radius: 2em 2em 2em 2em;;
    box-shadow: inset 0 0 0.6em var(--lightneon), 0 0 1em var(--lightneon);
    transition: all 1s;
    opacity: 0;
}

.container-selector {
    display: block;
    width: 100%;
}
.selector {
    opacity: 0;
    transition: all 800ms;
    transition-delay: 500ms;
    z-index: 2;
    display: inline-block;
    position: relative;
    transform: translateX(-50%);
    transform: translateX(-0.9em);
    left: 50%;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: var(--lightneon);
    box-shadow: inset 0 0 0.6em var(--lightneon), 0 0 1em var(--lightneon); 
}


.selector > i {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 25%;  
    color: #181b1e;
}


 /*  --------------------------- FONT --------------------------- */
p {
    margin: 0px;
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Combo', cursive;
    color: white;

}

.date {
    font-family: 'Combo', cursive;
    font-style: italic
}

h1 {
    margin: 0px;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    color: white;
}

h2 {
    
    margin: 0px;
    display: block;
    font-family:'Times New Roman', Times, serif;
    color: white;
    margin-bottom: 1em;
}

h3 {
    margin: 0px;
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-size: medium;
    color: white;
}

h4 {
    margin-top: 0.2em;
    margin-bottom: 0px;
}

h5 {
    margin-top: 0.2em;
    margin-bottom: 0px;
}

h6 {
    margin: 0px;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.9em;
    font-family: 'Combo', cursive;
    color: white;
}

#name {
    font-family: 'Combo', cursive;
    color: var(--background);
    font-size: 1.5em;
    text-shadow: var(--background) 1px 0 15px;
}

#desc {
    color: var(--background);
    font-family: 'Roboto Mono', monospace;
    font-weight: 1000;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em;
}
 /* --------------------------- FONT --------------------------- */
  
  #desc .letter {
    display: inline-block;
  }